<div class="d-flex align-items-center">
    <% if (!signIn) { %>
        <a class="btn btn-primary" href="/auth"><i class="bi bi-google me-3"></i>登入</a>
    <% } else { %>
        <div class="dropdown-center d-lg-none">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                功能
            </button>
            <ul class="dropdown-menu">
                <% for (let i = 0; i < actions.length; i++) { %>
                    <li>
                        <a class="dropdown-item" href=<%= actions[i].url %>><%= actions[i].name %></a>
                    </li>
                <% } %>
                <li>
                    <a class="dropdown-item" href="/auth/signout">登出</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-row flex-nowrap justify-content-end md-none">
            <% for (let i = 0; i < actions.length; i++) { %>
                <li class="nav-item col-auto px-1">
                    <a class="nav-link user-nav px-2 rounded-1" href=<%= actions[i].url %>><%= actions[i].name %></a>
                </li>
                <li class="nav-item col-auto px-1">
                    <div class="vr h-100"></div>
                </li>
            <% } %>
            <li class="nav-item col-auto px-1">
                <a class="nav-link user-nav px-2 rounded-1" href="/auth/signout">登出</a>
            </li>
        </ul>
    <% } %>

    <% if (signIn) { %>
        <span class="navbar-text px-1 hstack gap-2 align-items-center ms-3">
            <img src=<%= picture %> class="rounded" width="50" alt="...">
            <span><%= username %></span>
        </span>
    <% } %>
</div>
