<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include basic/head %>
        <title>線上投票平台</title>
        <%- include basic/stylesheet %>
        <link rel="stylesheet" href="/css/content.css"/>
    </head>

    <body>
        <%- include navbar/start %>
            <%- include navbar/left/start %>
            <%- include navbar/left/end %>
            <%- include navbar/right/index %>
        <%- include navbar/end %>

        <main class="mt-3">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-1">
                        <span>題目:</span>
                    </div>
                    <div class="col-11">
                        <p class="text-start h1"><%= title %></p>
                    </div>
                </div>
                <% if (description) { %>
                    <div class="row">
                        <div class="col-1">
                            <span>敘述:</span>
                        </div>
                        <div class="col-11">
                            <p class="text-start"><%= description %></p>
                        </div>
                    </div>
                <% } %>

                <div class="row">
                    <div class="col-1">
                        <span>日期:</span>
                    </div>
                    <div class="col-11">
                        <p class="text-start"><%= start %>~<%= end %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-1 enable-label text-bg-info rounded animate__animated animate__fadeInDown animate__fast">
                        <span class="text-body-emphasis" id="enable" style="width: fit-content;" data-limit-number=<%= enabled %>>目前可投<%= enabled %>人</span>
                    </div>
                    <div class="col-12 border option-container overflow-y-auto">
                        <ol class="list-group list-group-numbered p-3">
                            <%
                                function over(end) {
                                    let time = Date.parse(end.replace("/", "-")) + 86400 * 1000;
                                    return time < Date.now();
                                }

                                function before(start){
                                    let time = Date.parse(start.replace("/", "-"));
                                    return time > Date.now();
                                }
                            %>
                            <% items.forEach(item => { %>
                                <li class="list-group-item">
                                    <div class="container-fluid">
                                        <div class="row" data-option-id=<%= item.id %>>
                                            <div class="col-1 d-flex justify-content-center align-items-center">
                                                <div role="button" aria-disabled=<%- !user || over(end) || before(start) %>
                                                    class="btn <%- item.isVoted ? "btn-primary" : "btn-outline-primary" %> <%- !user || over(end) || before(start) ? "disabled" : "" %>" 
                                                    data-is-voted=<%= item.isVoted %>>
                                                    <i class="bi bi-box-arrow-in-down"></i>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <img class="img-thumbnail" src=<%= item.src %> alt="沒有圖片" width="100"/>
                                            </div>
                                            <div class="col-9">
                                                <p class="fs-3 fw-bold"><%= item.name %></p>
                                                <p><%= item.content %></p>
                                                <% function divide(divided, divider){
                                                    if(divided === 0 && divider === 0) return 0;
                                                    return divided / divider
                                                } %>
                                                <div class="progress position-relative" role="progressbar"
                                                    aria-label="vote-number" aria-valuenow=<%= item.value %> 
                                                    aria-valuemin="0" aria-valuemax=<%= number %> style="height: 25px;">
                                                    <div class="progress-bar" style="width: <%= divide(item.value, number) * 100 %>%"></div>
                                                    <div class="position-absolute top-50 start-50 translate-middle"><%= item.value %>人</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ol>
                    </div>
                </div>
            </div>
        </main>
        <div class="toast-container position-fixed bottom-0 end-0 m-3">
            <div id="success" class="toast text-bg-success rounded" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    <div class="d-flex justify-content-between">
                        <span>儲存成功</span>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 m-3">
            <div id="fail" class="toast text-bg-danger rounded" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    <div class="d-flex justify-content-between">
                        <span>儲存失敗</span>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <div class="d-none" data-user-token=<%= user %> id="token"></div>

    <script src="/dist/content.js" type="module"></script>
</html>