<!DOCTYPE html>
<html lang="en">

<head>
    <%- include basic/head %>
    <title>線上投票平台</title>
    <%- include basic/stylesheet %>
    <link rel="stylesheet" href="css/create.css" />
</head>

<body>

    <%- include navbar/start %>
        <%- include navbar/left/start %>
        <%- include navbar/left/end %>
        <%- include navbar/right/index %>
    <%- include navbar/end %>
    
    <main>
        <div class="container justify-content-center align-items-center">
            <form class="p-5 needs-validation" novalidate id="vote-form" action="/create" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-form-label col-1" for="problem">題目:</label>
                    <div class="col-11 position-relative">
                        <input class="form-control" type="text" id="problem" name="problem" required/>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-form-label col-1" for="descript">敘述:</label>
                    <div class="col-11">
                        <textarea class="form-control descript" id="descript" name="descript" rows="5"></textarea>
                    </div>
                </div>

                <div class="container-fluid px-3 option-frame mb-3 border p-1">
                    <ol id="option-container"></ol>
                    <div class="btn btn-outline-primary sticky-bottom d-flex align-items-center justify-content-center"
                        type="button" id="option-add">
                        <i class="bi bi-plus-circle"></i>
                        <span class="mx-1">
                            增加選項
                        </span>
                    </div>
                </div>

                <div class="row mb-3">
                    <span class="col-1">票數:</span>
                    <div class="col-11 d-flex">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ticket" id="single" checked
                                value="single">
                            <label class="form-check-label" for="single">單選</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ticket" id="multiple" value="multiple">
                            <label class="form-check-label" for="multiple">多選</label>
                        </div>

                        <div class="invisible d-inline-flex flex-fill" id="ticket-number-container">
                            <label for="ticket-number" style="flex: 1" class="text-center">數量:</label>
                            <input class="form-control" style="flex: 9" type="number" name="ticket-number" id="ticket-number" min="1"/>
                        </div>
                    </div>
                </div>


                <div class="row mb-3">
                    <span class="col-1">日期:</span>
                    <div class="col-11">
                        <div class="input-group">
                            <% function getNowDate(){
                                let dateObj = new Date();
                                return `${dateObj.getFullYear()}-${(dateObj.getMonth() + 1).toFixed(0).padStart(2, "0")}-${dateObj.getDate().toFixed(0).padStart(2, "0")}`
                            } %>
                            <input name="start" type="date" class="form-control" placeholder="開始" aria-label="start" value=<%= getNowDate() %> required min=<%= getNowDate() %>>
                            <span class="input-group-text">~</span>
                            <input name="end" type="date" class="form-control" placeholder="結束" aria-label="end" required value=<%= getNowDate() %> min=<%= getNowDate() %>>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <button type="submit" class="btn btn-primary me-3">創建</button>
                    <button type="reset" class="btn btn-outline-primary">清除</button>
                </div>
            </form>
        </div>
    </main>
    <% if (success) { %>
        <div class="alert alert-success alert-dismissable nofity translate-middle-x" role="alert">
            <i class="bi bi-check-circle-fill"></i>
            <strong class="me-3">創建成功!!!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</body>
<%- include basic/module %>
<script src="dist/create.js" type="module"></script>
</html>