<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include basic/head %>
        <title>線上投票平台</title>
        <%- include basic/stylesheet %>
        <link rel="stylesheet" href="css/home.css" />
    </head>

<body>
    <%- include navbar/start %>
        <%- include navbar/left/start %>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">進行中</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">未開始</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">已結束</a>
                </li>
            </ul>
        <%- include navbar/left/end %>
        <%- include navbar/right/index %>
    <%- include navbar/end %>
    <main class="px-4 py-5">
        
        <div class="input-group w-50">
            <span class="input-group-text" id="search-label"><i class="bi bi-search"></i></span>
            <input type="text" id="search" class="form-control" placeholder="搜尋問題" aria-label="search"
                aria-describedby="search-label" />
        </div>
        
        <div class="container-fluid pt-3">
            <table class="table" id="result">
                <thead>
                    <tr>
                        <% cols.forEach(col => { %>
                            <th scope="col"><%= col %></th>
                        <% }) %>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item, index) => { %>
                        <tr role="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false"
                        aria-expanded="false" aria-controls="collapse-<%= index %>">
                            <% item.data.forEach((data, index) => { %>
                                <% if (index === 0) { %>
                                    <th data-col-name="<%= cols[index] %>:">
                                        <span class="card-table-text">
                                            <%= data %>
                                        </span>
                                    </th>
                                <% } else { %>
                                    <td data-col-name="<%= cols[index] %>:">
                                        <span class="card-table-text">
                                            <%= data %>
                                        </span>
                                    </td>
                                <% } %>
                            <% }) %>
                            <td>
                               <button class="btn btn-primary goto" data-href=<%= item.url %>>
                                    <i class="bi bi-box-arrow-in-right"></i>
                               </button> 
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0;" colspan="12">
                                <ol class="collapse" id="collapse-<%= index %>">
                                    <% item.options.forEach(data => { %>
                                        <li>
                                            <div class="container-fluid">
                                                <div class="row align-items-center">
                                                    <div class="col-3">
                                                        <div class="d-flex align-items-center">
                                                            <span class="float-start me-3">
                                                                <img src=<%= data.src %> alt="沒有圖片" width="100"/>
                                                            </span>
                                                            <span class="fw-bold text-body-secondary text-break w-100 text-center">
                                                                <%= data.name %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-9">
                                                        <div class="progress" role="progressbar" aria-label="prgress-label"
                                                        aria-valuemin="0" aria-valuemax="100" style="height: 50px;"
                                                        aria-valuenow=<%= data.value %>>
                                                            <div class="progress-bar" style="height: 50px;width: <%= data.value / item.number * 100 %>%;">
                                                                <%= data.value %>人
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ol>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <% include basic/switch %>
</body>
<%- include basic/module %>
<script src="dist/home.js" type="module"></script>
</html>